USE [master]
GO
/****** Object:  Database [DMV Records]    Script Date: 5/12/2022 4:44:13 PM ******/
CREATE DATABASE [DMV Records]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DMV Records', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DMV Records.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DMV Records_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DMV Records_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DMV Records].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DMV Records]
GO
/****** Object:  Table [dbo].[DMV]    Script Date: 5/12/2022 4:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMV](
	[dmvID] [int] NOT NULL,
	[dmvFirstName] [varchar](50) NULL,
	[dmvLastName] [varchar](50) NULL,
 CONSTRAINT [PK_DMV Personnel] PRIMARY KEY CLUSTERED 
(
	[dmvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver_Infractions]    Script Date: 5/12/2022 4:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver_Infractions](
	[DriverID] [int] NOT NULL,
	[InfractionID] [int] NOT NULL,
 CONSTRAINT [PK_Driver_Infractions] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC,
	[InfractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 5/12/2022 4:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] NOT NULL,
	[DriverFirstName] [varchar](50) NULL,
	[DriverLastName] [varchar](50) NULL,
	[DriverSocialSecurityNo] [int] NULL,
	[DriverLicensePlateNo] [varchar](8) NULL,
	[dmvID] [int] NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Infractions]    Script Date: 5/12/2022 4:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infractions](
	[InfractionID] [int] NOT NULL,
	[InfractionType] [varchar](50) NULL,
	[InfractionAmount] [float] NULL,
 CONSTRAINT [PK_Infractions] PRIMARY KEY CLUSTERED 
(
	[InfractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAW]    Script Date: 5/12/2022 4:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAW](
	[lawID] [int] NOT NULL,
	[lawFirstName] [varchar](50) NULL,
	[lawLastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LAW] PRIMARY KEY CLUSTERED 
(
	[lawID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 5/12/2022 4:44:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] NOT NULL,
	[VehicleName] [varchar](50) NULL,
	[VehicleYear] [int] NULL,
	[DriverID] [int] NULL,
	[DmvID] [int] NULL,
	[LawID] [int] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Driver_Infractions]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Infractions_Drivers] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[Driver_Infractions] CHECK CONSTRAINT [FK_Driver_Infractions_Drivers]
GO
ALTER TABLE [dbo].[Driver_Infractions]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Infractions_Infractions] FOREIGN KEY([InfractionID])
REFERENCES [dbo].[Infractions] ([InfractionID])
GO
ALTER TABLE [dbo].[Driver_Infractions] CHECK CONSTRAINT [FK_Driver_Infractions_Infractions]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_DMV] FOREIGN KEY([dmvID])
REFERENCES [dbo].[DMV] ([dmvID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_DMV]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_DMV] FOREIGN KEY([DmvID])
REFERENCES [dbo].[DMV] ([dmvID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_DMV]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Drivers] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Drivers]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_LAW] FOREIGN KEY([LawID])
REFERENCES [dbo].[LAW] ([lawID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_LAW]
GO
USE [master]
GO
